<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This template can be downloaded from www.openwebdesign.org. Just search for neuphoric -->
<!-- This template has been modified by mejobloggs (http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs) -->
<!-- Please use this template according to the license on the original template (included as pleaseread.txt) -->
<!-- The original of this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>
	<title>About Us</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
<style type="text/css">
<!--
h2 {
	color: #0066FF;
}
body {
	background-color: #eee;
}
.style1 {color: #000000}
-->
</style></head>

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<h1 align="center">&nbsp;</h1>
  </div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>		
			<li><a title="" href="index.html">Home</a></li>
            <li><a title="" href="/news">News -   ニュース  </a></li>
            <li><a title="" href="aboutus.html">About Us</a></li>
            <li><a title="" href="programs.html">Programs</a></li>
            <li><a title="" href="enrichment.html">Extended Daycare and Enrichment</a></li>
			<li><a title="" href="contactus.html">Contact Us</a>
            </li>
		</ul>
	</div>
</div>
<div id="content">

	<h2>About Us</h2>
	<p>IAAS is firmly rooted in international soil, having educated children of Japanese~American families for twenty years. Originally founded in Connecticut as the Greenwich Kokusai Gakuen or Greenwich International School, the Academy expanded to New Jersey fifteen years ago as the Asunaro Kokusai Gakuen, or Acorn Children's Corner.  In Japanese, Asunaro means to develop or grow big and strong from a seed. Just as our students have developed, so has our school.  Asunaro expanded and evolved through several locations in New Jersey, and it is with great pride that we now occupy a building that has educated young children in Closter and nearby communities for over 50 years.  Our new home boasts large, sunny, fully-carpeted classrooms; dedicated music and dance room; large multi-purpose room; and age-appropriate outdoor play area.  We neighbor the Closter Public Library; Belskie Art Museum; and a newly developed outdoor nature park.</p>
	<p><br />
  Together with Asunaro Kokusai, the International Academy of Arts and Science now embraces young students from many countries and cultures and teaches an international curriculum which celebrates all children of the world.  At IAAS, diversity is lived and shared every day and it is our differences which unite and bind us.  IAAS offers every child a rich multi-cultural experience which truly sets us &quot;a world apart&quot; from other early childhood education centers. </p>
	<p>&nbsp; </p>
</div>

<div id="footer">
	based on an original design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tri-star web design</a>
</div>

</body>

</html>