<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This template can be downloaded from www.openwebdesign.org. Just search for neuphoric -->
<!-- This template has been modified by mejobloggs (http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs) -->
<!-- Please use this template according to the license on the original template (included as pleaseread.txt) -->
<!-- The original of this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>
	<title>Contact Info</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
<style type="text/css">
<!--
h2 {
	color: #0066FF;
}
body {
	background-color: #eee;
}
.style1 {color: #000000}
-->
</style></head>

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<h1 align="center">&nbsp;</h1>
  </div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>
        	<li><a title="" href="index.html">Home</a></li>
            <li><a title="" href="/news">News -   ニュース  </a></li>
            <li><a title="" href="aboutus.html">About Us</a></li>
            <li><a title="" href="programs.html">Programs</a></li>
            <li><a title="" href="enrichment.html">Extended Daycare and Enrichment</a></li>
			<li><a title="" href="contactus.html">Contact Us</a>
            		
		</ul>
	</div>
</div>
<div id="content">

	
	<p>IAAS is conveniently located in the heart of the Northern Valley and is easily accessible from NYC, Northern Hudson County, Bergen County, and Rockland County, NY.  IAAS provides limited transportation to and from these areas.<br />
      <br />
      IAAS<br />
      300 High Street<br />
      Closter, NJ 07624<br />
      <br />
      TEL  201-767-1144<br />
      FAX  201-767-3733</p>
	<p><br />
	  E-mail info@iaasnj.com or asunarokokusai@yahoo.com<br />
      <br />
      Call to schedule a visit or attend our complimentary “Mommy/Daddy &amp; Me” weekly classes.<br>
      <br>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=300+High+Street,+Closter+NJ&amp;sll=37.0625,-95.677068&amp;sspn=38.281301,56.513672&amp;ie=UTF8&amp;hq=&amp;hnear=300+High+St,+Closter,+Bergen,+New+Jersey+07624&amp;ll=40.974906,-73.968104&amp;spn=0.008926,0.013797&amp;z=14&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=300+High+Street,+Closter+NJ&amp;sll=37.0625,-95.677068&amp;sspn=38.281301,56.513672&amp;ie=UTF8&amp;hq=&amp;hnear=300+High+St,+Closter,+Bergen,+New+Jersey+07624&amp;ll=40.974906,-73.968104&amp;spn=0.008926,0.013797&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small><br />
      </a></p>
</div>

<div id="footer">
	based on an original design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tri-star web design</a>
</div>

</body>

</html>