<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This template can be downloaded from www.openwebdesign.org. Just search for neuphoric -->
<!-- This template has been modified by mejobloggs (http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs) -->
<!-- Please use this template according to the license on the original template (included as pleaseread.txt) -->
<!-- The original of this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>
	<title>Enrichment</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
<style type="text/css">
<!--
h2 {
	color: #0066FF;
}
body {
	background-color: #eee;
}
-->
</style></head>

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<h1 align="center">&nbsp;</h1>
  </div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>
        	<li><a title="" href="index.html">Home</a></li>
            <li><a title="" href="/news">News -   ニュース  </a></li>
            <li><a title="" href="aboutus.html">About Us</a></li>
            <li><a title="" href="programs.html">Programs</a></li>
            <li><a title="" href="enrichment.html">Extended Daycare and Enrichment</a></li>
			<li><a title="" href="contactus.html">Contact Us</a>
            		
		</ul>
	</div>
</div>
<div id="content">
<h2>Extended Day Child Care</h2>
	<p><strong>Two and a Half through Six Year Olds</strong></p>
	<p><br />
	  Recognizing the varied schedules of working parents, IAAS provides safe,<br />
	  secure and consistent extended day care for students of the Academy as well<br />
	  as children attending other private or public schools.  The before school<br />
	  program operates from 7:00-9:00 am and includes breakfast time followed by<br />
	  energy-conserving activities.  The after school program operates from 3:00-<br />
	  6:00 pm and includes snack time followed by age-appropriate activities. Limited<br />
	  transportation is available to and from localized areas.  Children have ample<br />
	  opportunity to engage in both teacher-directed and child-initiated experiences,<br />
	  enabling them to explore the world they live in as they read, play indoors and<br />
	  outdoors, investigate science and join in music and art activities.  Optional<br />
	  private music classes are also available upon request.<br />
  </p>
	<p></a></p>
  <h2>Enrichment</h2>
	<p><strong>Five thru One Hundred and Five</strong></p>
	<p><br />
    At IAAS we believe you are never too old to thirst for knowledge, so why not<br />
    drink up something fun and new! IAAS offers a wide variety of after school, <br />
    evening and weekend experiences to appeal to students of all ages. Individual<br />
    and group lessons in instrumental music and theory are available for piano, violin<br />
    and cello.  Voice, ballet, dance and karate lessons are also available.  In addition,<br />
  the following activities will be offered according to interest and availability:</p>
	<p>Homework Club <br />
	  E S L <br />
	  Chess Club <br />
	  Japanese Language <br />
	  International Math Olympiad <br />
	  Spanish Language <br />
	  Exploring Science <br />
	  Korean Language<br />
	  Broadway Kids <br />
	  Chinese Language<br />
	  Kid’z Musik <br />
	  International Food and Crafts<br />
	  Discovering Art<br />
	  Japanese Tea Ceremony<br />
	  SAT Prep <br />
	  AP Tutoring<br />
      <br />
      <br />
    </p>
  <p><br />
    </a></p>
	
</div>

<div id="footer">
	based on an original design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tri-star web design</a>
</div>

</body>

</html>