<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This template can be downloaded from www.openwebdesign.org. Just search for neuphoric -->
<!-- This template has been modified by mejobloggs (http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs) -->
<!-- Please use this template according to the license on the original template (included as pleaseread.txt) -->
<!-- The original of this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>
	<title>Programs</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
<style type="text/css">
<!--
h2 {
	color: #0066FF;
}
body {
	background-color: #eee;
}
-->
</style></head>

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<h1 align="center">&nbsp;</h1>
  </div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>
        	<li><a title="" href="index.html">Home</a></li>
            <li><a title="" href="/news">News -   ニュース  </a></li>
            <li><a title="" href="aboutus.html">About Us</a></li>
            <li><a title="" href="programs.html">Programs</a></li>
            <li><a title="" href="enrichment.html">Extended Daycare and Enrichment</a></li>
			<li><a title="" href="contactus.html">Contact Us</a>
        
		</ul>
	</div>
</div>
<div id="content">

	<h2>Our Programs</h2>
	<p><a title="" href="http://www.bwaykids.com">Click here to learn more about our unique Broadway Kids program!</a>    </p>
	<p><strong>Babies & Toddlers</strong></p>
    <p>We offer weekly "Mommy or Daddy (or both) and Me" classes to assist parents and children with early socialization skills.  These music, movement and fun-filled mornings are complimentary and are our way to welcome you to the IAAS community.      </p>
    <p><strong>Two Year Olds</strong></p>
    <p>For these youngest students, we offer part-time and full-time programs that include parent and caregiver meetings addressing important issues to families such as separation, autonomy, toileting, sibling relationships, sleep patterns, language acquisition and socialization.   We encourage your children to begin making decisions follow directions and work with them toward appropriate interaction with peers.  Activities include sand and water play, art, music movement, block building, story-telling, dramatic play, karate, and nap/quiet time. </p>
    <p><strong>Three Year Olds      </strong></p>
    <p>Three year olds are encouraged to join our preschool program with the same flexibility of part-time or full-time.  Recognizing that children at this age demonstrate a wide spectrum of development, our curriculum is tailored to the individual needs of each child.  Through play, the primary focus is to help children develop socialization skills and peaceful methods of conflict resolution.  Our children grow and thrive as they discover  the wonderful worlds of books, music, acting, art and science exploration.  These experiences are designed to promote high self-esteem and foster life-long feelings of competence. </p>
    <p><strong>Four Year Olds      </strong></p>
    <p>In our pre-kindergarten program, children are free to choose from a variety of both teacher-directed and child-directed projects that include drama, numeric development, language skills, literary activities, science investigation, and art and music.  Self-directed play and exploration is crucial as it allows for cooperative social interaction and supports a growing interest and knowledge of the world.  Children meet in both large and small groups to foster a sense of community within the class; there they share common experiences, stories and songs and begin to understand and appreciate cultural differences as well.  As in all our programs, music, art, dance and karate are central.</p>
    <p><strong> Five Year Olds      </strong></p>
    <p>The IAAS kindergarten program is designed to stimulate creativity, experiential learning and self-discovery.  The program meets five days a week and full-time academic and social development is the central focus.  While we encourage a full day program, we welcome students to join us following their half-day public school kindergarten and limited transportation from area kindergartens is available upon request.  We work to build a foundation for successful learning as the student begins to take responsibility for his or her own choices and decision-making.  The curriculum includes language and literacy development, numeric skills, art projects, story-telling, music, karate and science projects.  Optional music/dance classes are available upon request and include voice and ear training, piano, violin, cello and ballet. </p>
  <p>
    </a></p>
	 <p><a title="" href="http://www.greenwichkokusai.org">In addition, you can visit the site of our sister school, Greenwich Kokusai Gaken.</a></p>
    
</div>

<div id="footer">
	based on an original design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tri-star web design</a>
</div>

</body>

</html>