
.clear { clear:both }
.spacer	{ height:10px }

/* ARTICLE TITLES */
h2 { 
	font-family:"Trebuchet MS", Geneva, Arial; 
	font-size:1.5em; 
	padding:0 0 0 25px; 
	margin: 0; 
	font-weight:normal; 
	background:url(../images/heading.png) no-repeat 0 4px 
}
h2 a { text-decoration:none }


h3 {
	margin-top: 16px;
	margin-bottom: 5px;
	font-size: 1.125em;
	color: #9b171e;
	text-align: center;
	letter-spacing: -1px;
	width: 100%;
	font-family: 'ABeeZee', "Tahoma", Arial, sans-serif;
}

h4 {
	font-weight: bold;
}

h5 {
	font-size: 1em;
	margin-bottom: 0px;
}


/* HOMEPAGE STYLE */


/* ARTICLE STYLE */

.item-page h1, .content h1, .blog-featured h1, .edit h1 {
	 font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 14px;
}  

.content-block {
	margin-top: 30px;
	margin-bottom: 55px;
}

.content-block h3 {
	margin-bottom: -8px;
}

.content-block p {
	margin-bottom: -5px;
	font-family: "Tahoma", Arial, sans-serif;
}

.content p, .content p, .content ul{
	font-family: "Tahoma", Arial, sans-serif;
}



.item { padding:0px 5px 7px 5px; display:block }
.item h2 { margin:0 }
.item-page { padding:0 5px; display:block }

/*Language Switcher Module*/
.mod-languages li { list-style:none;  display:inline; background-image:none; padding:0; margin:0 2px 0 0 }

/*Syndicate Module*/
#syndicate { float:right; margin:-3px 20px 0 0; display:inline }
#syndicate a { text-decoration:none }
#syndicate img { vertical-align:bottom }


/* small text */
.small, .modifydate, .createdate { font-size:.85em; color:#d55104; font-weight:normal }
.small { text-align:left }
.modifydate { height:20px; vertical-align:bottom; text-align:left }
.createdate { height:20px; vertical-align:top; padding:0 0 5px 0 }
p.readmore a { margin:4px 5px 0 0; display:block !important; display:inline; float:right !important; float:none; background:#f4e976; padding:5px; line-height:14px; text-decoration:none; font-size:.85em }
p.readmore a:hover { background:#fff; text-decoration:none }

/* ___________  icons  ______________ */
.actions { margin:-20px 0 0 0;}
.actions li{ list-style: none; display:inline; float:right }
.actions a { text-decoration:none }

/* ___________  details  ______________ */
.article-info { margin:10px 0 10px 0px; font-size:0.9em }
.article-info-term { display:none }
dt.category-name, dt.create, dt.modified, dt.createdby { float:left; padding-right:5px }
.archive .article-info dd, .article-info dd { margin:2px 0 0px 0; line-height:1.2em }
.article-info dd span { text-transform:none; display:inline-block; padding:0 5px 0 0; margin:0 10px 0 0px }

/* spacers */
span.article_separator { display:block; height:20px }
.article_column { padding-right:5px }
.column_separator { border-left:1px dashed #ccc; padding-left:10px }
table.blog span.article_separator { display:block; height:20px }

/*______buttons____*/
.button { 
	white-space:nowrap; 
	width:79px; 
	height:27px; 
	line-height:23px; 
	border:none; 
	padding:0; 
	margin:5px 0 0 0; 
	font-size:0.9em; 
	background:url(../images/button.png) no-repeat;
	color:#fff
}

/* table of contents */
table.contenttoc { margin:5px; border:1px solid #ccc; padding:5px; float:right }
table.contenttoc td { padding: 0 5px }

/* content tables */
td.sectiontableheader { background:#fae651; font-weight: bold; padding: 4px; border-right: 1px solid #fff }
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td { padding: 4px }
td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 { padding: 3px }
table.weblinks th, table.newsfeeds th, table.category th, table.jlist-table th { border:1px solid #fae651; background:#fae651 } /*contact bg*/

/* content styles */
.contentpaneopen, .contentpane { margin:0 auto; padding:10px; width:95% }
.contentpaneopen li { margin-bottom: 5px }
.contentpaneopen fieldset { border:0; border-top: 1px solid #000 }
.contentpaneopen h3 { margin-top:25px }
.highlight { background:#fffebb }
.contentpane { background:#fff; color:#000 }
.contentpane h2, .contentpane h1 { color:#000; background-image:none; padding-left: 0 }

/* mailto window */
#mailto-window { background:#ebf8cd; padding:13px; border:solid 1px #bfde77; position:relative }
#mailto-window label { width:9em }
.mailto-close { position:absolute; right:0; top:5px; background:none }
.mailto-close a { background:url(../images/close.png) no-repeat !important; min-width:25px; min-height:25px; display:block; overflow:visible }
.mailto-close a  span { position:absolute; left:-3000px; top:-3000px; display:inline }
#mailto-window  .inputbox { border:1px solid #bfde77; padding:3px }
#mailto-window p { margin:20px 0 0 0 }
#mailto-window button { margin:0 5px 0 0 }

/* forms */
form#searchForm input { vertical-align: middle }
form#searchForm table { border-collapse: collapse }
form#searchForm td { padding:0 }
#mod_search_searchword { padding-left: 3px }
form .search label { display:none; margin:0; padding:0 } /* removes "text" content */
#search label { display:none; margin:0; padding:0 }
table.adminform textarea { width:540px; height:400px }
#member-registration { padding:0 5px }
form fieldset dt { clear:left; float:left; width:12em; padding:3px 0 }
form fieldset dd { float:left; padding:3px 0 }

/* ______________ blog _______________ */
.cols-1 { display:block; float:none !important; margin:0 !important }
.cols-2 .column-1 { width:46%; float:left }
.cols-2 .column-2 { width:46%; float:right; margin:0 }
.cols-3 .column-1 { float:left; width:29%; padding:5px; margin-right:4% }
.cols-3 .column-2 { float:left; width:29%; margin-left:0; padding:5px }
.cols-3 .column-3 { float:right; width:29%; padding:5px }
.items-row { overflow:hidden }
.column-1, .column-2, .column-3 { padding:5px }
.column-2 { width:55%; margin-left:40% }
.column-3 { width:30% }
.blog .category-desc { padding:0 5px; margin:10px 0 }

.blog-featured { padding: 0 }
.items-leading { padding:0 5px 7px 5px; overflow:hidden; margin:0 0 6px 0 }
.row-separator { display:block; clear:both; margin:0; border:0; height:1px }
.item-separator { display:none; margin:0 }
.shownocolumns { width:98% !important }

/* _______________  pagination  ___________________ */
.pagination { margin:10px 2px; padding:10px 5px }
.pagination span, .pagination a { padding:3px }
.pagination ul { list-style-type:none; text-align:left }
p.counter{ font-weight:bold }
/* pagenav */
ul.pagenav { list-style-type:none; padding:0; overflow:hidden; font-weight:bold; float:right }
ul.pagenav li { display:inline-block; padding:1px; margin:0 }
ul.pagenav li a { display:inline; padding:4px }
ul.pagenav li.pagenav_prev {}
ul.pagenav li.pagenav_next {}

/* ________________ homepage _______________ */

.homepage #mainLeft {
	padding: 0;
	background: none;
	width: 621px;
	box-shadow: none;
	border-radius: none;
}

.homepage #left-container {
	float: left;
    margin-left: 16px;
    margin-right: 11px;
    width: 285px;
}

.homepage #right-container {
	float: left;
    margin-left: 10px;
    width: 285px;
}

.homepage .container {
	background: none repeat scroll 0 0 #FBF8F1;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #CCCCCC;
    float: left;
	padding: 10px;
	margin-top: 20px;
}


.homepage .container img {
	width: 100%;
}

.homepage h2 {
	padding-left: 35px;
	background: none;
	padding-top: 16px;
	letter-spacing: 0px;
}

.homepage p {
    font-size: 12px;
    line-height: 1.3em;
    margin-left: 15px;
	font-family: tahoma;
}


.homepage #slideshow-container {
	font-family: inherit;
}

.homepage #mission-statement-container {
	/*margin-left: -1px;
    margin-right: 10px;
	width: 285px;*/
}

.homepage #testimonals-container {
	
}

.homepage #testimonals-container .quote {
    font-style: italic;
    margin-bottom: -4px;
}

.homepage #testimonals-container p:last-child {
    margin-top: 25px;
}

.homepage #openhouse-container {
	/*margin-left: 5px;
    width: 282px;*/
}

.homepage #openhouse-container .img-container {
	margin-left: 15px;
    width: 91%;
}

.homepage #openhouse-container .last-line {
}


/* ________________ contacts _______________ */
/*.contact { padding:5px }
.panel, .contact-miscinfo { padding:7px 0 }
.contact-category { padding:0 12px }
.contact-category  #adminForm fieldset.filters { border:0; padding:0 }
.contact-image { float:right; margin:10px 0; overflow:hidden }
address { font-style:normal; margin:10px 0; position: relative; 
		  float: left; display: block;}
address span { display:block; }
.contact-address { margin:20px 0 10px 0 }
.contact-email div { padding:2px 0; margin:0 0 10px 0 }
.contact-email label { width:18em; float:left }
span.contact-image { margin-bottom:10px; overflow:hidden; display:block }
#contact-textmsg { padding: 2px 0 10px 0 }
#contact-email-copy { float:left; margin-right:10px }
.contact .button { float:none !important; display:block; clear:left; margin:8px 0 0 0; white-space:nowrap }*/
/* Error Message contact form */
p.error { padding:10px }

.contact h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size: 24px;
}

#contact-content {
	margin-top: 8px;
}

#contact-info {
	position: relative;
	float: left;
}

#contact-info h3 {
	text-align: left;
	margin-bottom: 17px;
}

.contact-block {
	disply: block;
	float: left;
	clear: left;
	position: relative;
	display: inline-block;
	margin: 10px 0px;
}

#contact-info p {
	display: inline;
	font-size: 14px;
}

#contact-info address {
	display: inline-block;
	margin-top: -5px;
	font-size: 14px;	
}

#contact-info img {
	display: inline;
	margin: 0px 20px;
	float: inherit;
}

#contact-streetview {
	float: left;
	margin-left: 50px;

}

#contact-streetview iframe {
	margin: 0;
}

#contact-streetview img {
	height: 185px;
	margin-top: -10px;
}

#contact-streetview h3 {
	text-align: left;
	margin-bottom: 15px;
}

#contact-map h3 {
	margin-top: 25px;
	text-align: left;
	margin-bottom: 20px;
	float: left;
	clear: both;
}
	
#contact-map iframe{
	margin-left: 23px;
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size: 24px;
}

/*______________ calnder _________________ */
.dp-cur, .chip dt, .te, .te-t, .te-rev-s, .rb-n, .rb-i, .agenda, .event-title{
white-space:normal !important;
}

.full-page #left-sidebar{
	display: none;
}

.full-page #mainLeft {
    background: none repeat scroll 0 0 #FBF8F1;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #888888;
    float: left;
    margin: 84px 4.5% -0.5%;
    min-height: 670px;
    padding: 10px;
    position: relative;
    width: 85%;
} 

#calender h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size: 24px;
}



/*_______________Register__________________*/
#Register  h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size: 24px;
}

#calnder h3 {
	margin-top: 10px;
}


/*______________ links _________________ */
#links-page h3{
	margin-bottom: 25px;
    margin-top: 35px;
}

#links-page .content-block {
	margin: 0px;
}

 #links-page  .left {
	float: left;
    position: relative;
    width: 47%;
}

#links-page  .full {
	width: 100%;
	position: relative;
	clear: both;
	padding-top: 25px;
}


#links-page .image-container {
	float: left;
    margin-left: 15px;
    margin-top: 22px;
    position: relative;
    width: 50%;
}

#links-page .image-container img {
	width: 100%;
}

#links-page h5 {
	margin-top: 16px;
	margin-bottom: 5px;
	font-size: 1.125em;
	color: #9b171e;
	text-align: left;
	letter-spacing: -1px;
	width: 100%;
	font-family: 'ABeeZee', "Tahoma", Arial, sans-serif;
}

#links-page {
	font-family: "Tahoma", Arial, sans-serif;
}


/*______________ PTA _________________ */
#pta-content .content-block {
	margin-bottom: 40px;
    margin-top: 30px;
}

#pta-content .content-block h3 {
	margin-bottom: -8px;
}

#pta-content .content-block p {
	margin-bottom: -5px;
}

#pta-content p:first-line {
}

#pta-content .container {
	width: 100%;
	height: 175px;
	background: url('/testing/images/SupportUs.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
	border-radius: 4px;
	margin-top: 33px;
	
}

#pta-content #lastline {
}

/*______________ Preschool _________________ */

#preschool  .container {
	width: 100%;
	height: 200px;
	background-image: url('/testing/images/Preschool.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	margin-top: 40px;
	border-radius: 8px;
}

#preschool #intro img {
	display: block;
	margin: 45px auto 0 auto;
}


/*______________ Enrichment _________________ */
#enrichment .left, #enrichment .right {
	width: 275px;
	position: relative;
	float: left;
}

#enrichment .content-block {
	margin-top: -10px;
	margin-bottom: 0px;
}

#enrichment .left {
	margin-left: 3px;
    margin-right: 40px;
}


#enrichment .intro {
	margin-top: 35px;
	margin-left: -10px;
	text-align: center;
    width: 103%;
}

#enrichment h3 {
	text-align: left;
}

#enrichment .content-block ul {
	margin-top: 15px;
	padding-left: 15px;
	line-height: 17px;
}

#enrichment li {
	padding-bottom: 12px;
}

#enrichment .left img {
	width: 100%;
}

/*______________ extended child care _________________ */

#extendedchildcare  .container {
	background-image: url("/testing/images/extendedchildcare.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 8px 8px;
    height: 200px;
    margin: 40px auto 0;
    width: 80%;
}

#extendedchildcare .content-block {
	margin-bottom: 0px;
}


#extendedchildcare #image-container {
	text-align: center;
	margin-top: 27px;
}
#extendedchildcare .content-block img {
	width: 75%;
	position: relative;
	margin: auto;
}

/*______________ mommy and me _________________ */
#mommyandme .right {
	position: relative;
	float: left;
	width: 65%;
}

#mommyandme-content {
	margin-top: 37px;
}

#mommyandme .left {
	float: left;
    margin-right: 20px;
    margin-top: 12px;
    position: relative;
    width: 31%;
}

#mommyandme .left img {
	margin-left: 17px;
    margin-top: 10px;
    width: 85%;
}

#mommyandme .full {
	clear: both;
    padding-top: 15px;
}

#mommyandme .full h3 {
	text-align: left;
}

/*______________ Director's Message _________________ */


#DirectorsMessage .content {
	margin-top: 40px;
}

#DirectorsMessage .content img {
	margin-top: 5px;
}

/*______________ our location _________________ */


#ourlocation .left img {
	float: right;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
    width: 42%;}

#ourlocation .left p {
	width: 90%;
}

#ourlocation .left  {
	margin-top: 40px;
}

/*______________ our philosophy _________________ */

#ourphilosopy .content {
	margin-top: 40px;
}

#ourphilosopy .left {
	float: left;
    margin-right: 5%;
    position: relative;
    width: 51%;
}


#ourphilosopy .left h3 {
	text-align: left;
}


#ourphilosopy .right {
	float: left;
    margin-top: 10px;
    position: relative;
    width: 42%;
}

#ourphilosopy .right img {
	position: relative;
	float: left;
	width: 100%;
}

#ourphilosopy .full {
	position: relative;
	clear: both;
	padding-top: 5px;
}

#ourphilosopy .full li {
	margin-bottom: 10px;
}

#ourphilosopy .full ul li:last-child {
	margin-bottom: 0px;
}

/*______________ Who We Are _________________ */

#whoweare #intro {
	margin-top: 40px
}

#whoweare .img-container {
	width: 100%;
	height: 175px;
	border-radius: 5px;
	background: url('/testing/images/WHOWEARE.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 45%;
}

/*______________ What Our Parent's Says _________________ */

#whatourparentssay .content {
	margin-top: 20px;
}

#whatourparentssay .content  h3{
	margin-bottom: 20px;
}

#whatourparentssay #testimonials {
	position: relative;
	float: right;
	margin-top: 10px;
	display: inline-block;
}

#whatourparentssay .img-right {
	display: inline;
    float: right;
    margin-left: 25px;
    margin-top: 0px;
    position: relative;
    width: 33%;
	margin-bottom: 35px;
}

#whatourparentssay .img-left {
	display: inline;
    float: left;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-top: 27px;
    position: relative;
    width: 33%;
}

#whatourparentssay .img-right img, #whatourparentssay .img-left img {
	width: 100%;
}


#whatourparentssay .testimonial {
	margin-bottom: 30px;
}

#whatourparentssay .signature {
	text-align: right;
	padding-right: 50px;
	font-style: italic;
}

#whatourparentssay #IAASReasons li {
	padding-bottom: 10px;
}

#whatourparentssay #IAASReasons .img-right {
	display: inline;
	position: relative;
    float: right;
    margin-left: 20px;
    width: 48%;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#whatourparentssay #IAASReasons .img-left {
    display: inline;
    float: left;
    margin-right: 45px;
    position: relative;
    width: 35%;
	
}

#whatourparentssay #IAASReasons #lastimg {
   	display: inline;
    float: left;
    margin-right: 45px;
    margin-top: 0;
    position: relative;
    width: 38%;
}

#whatourparentssay #IAASReasons #last-li li{
	position: relative;
	clear: both;
}

/*______________ Summer Academy _________________ */

#SummerAcademy .content{
	margin-top: 40px;
}

#SummerAcademy img {
	width: 100%;
}

#SummerAcademy .img-right {
	display: inline;
    float: right;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    width: 34%;
}

#SummerAcademy .img-left {
	display: inline;
    float: left;
    margin-right: 20px;
    position: relative;
    width: 46%;
}


/*______________ Saterday School _________________ */
#SaterdaySchool .content {
	margin-top: 40px;
}

#SaterdaySchool h3 {
	clear: both;
	position: relative;
}

#SaterdaySchool .img-left img {
	width: 100%;
}

#SaterdaySchool .img-left {
    background: url("/testing/images/j_after_school.jpg") no-repeat scroll 50% 50% / cover;
    display: inline;
    float: left;
    height: 203px;
    margin-right: 20px;
    margin-top: 4px;
    position: relative;
    width: 41%;
}

.saterday-image-container {
	display: inline;
    float: left;
    height: 203px;
    margin-right: 20px;
    margin-top: 4px;
    position: relative;
    width: 41%;
}

.saterday-image-container img {
	width: 100%;
}

/*______________ Learn Spanish _________________ */
#LealrnSpanishLanguage {
	position: relative;
	float: left;
}

#LearnSpanishLongImg {
	background: none repeat scroll 0 0 #FD9AC2;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin-left: 15px;
    margin-top: -5px;
    padding: 9px 0;
    position: relative;
    width: 22%;
	display: none;
}

#SpanishLanguageBlock {
	margin-top: 35px;
}

#LearnSpanishLongImg img{
	width:100%;
}

#SpanishLivesHere {
	margin: 40px auto auto;
    width: 100%;
}

#SpanishLivesHere img{
	width: 100%;
	height: 300px;
}

#AboutICNY {
	clear: both;
}


/*______________ login _________________ */
#login-form p { padding:0 0 2px 0 }
.moduletable #login-form li { background-image:none; list-style:none; font-size:.85em; line-height:14px; margin:0; padding:0 }
#login-form, .userdata { padding:0; margin:0 }
#login-form fieldset { padding:0; border:0 }
#login-form .inputbox { padding:2px }
#login-form fieldset.input { padding:5px 0 0 0; margin:0 0 10px 5px }
#login-form label { margin:0 5px 2px 0; width:12em; display:block; float:left }
#modlgn-username.inputbox, #modlgn-passwd.inputbox { width:150px }
#modlgn-remember  { width:16px; border:none; margin:0 }
#form-login-remember label { float:none; width:auto; display:inline }
#login-form div { margin:0; padding:0; text-align:left }
input.button, button.button { padding:3px 5px 6px 7px }
#modlgn-username, #modlgn-passwd { width:9em }
.module_content #form-login-username label, .module_content #form-login-password label { float:left }
.login-fields { margin:10px 0 }
.login-fields label { float:left; width:10em }

/* thumbnails */
div.mosimage {  margin:5px }
div.mosimage_caption { font-size:.9em }
div.caption { padding:0 10px 0 10px; }
div.caption img { border:1px solid #ccc }
div.caption p { font-size:.9em; text-align:center }

/*_____________ tables __________________ */
table { border-collapse:collapse }
table.weblinks, table.category { font-size:1em; margin:8px 10px 15px 0px; width:99%; border:1px solid #fae651 }
table.weblinks td { border-collapse:collapse }
table.weblinks td, table.category td { padding:7px; border:1px solid #fae651 }
table.weblinks th, table.category th { padding:7px; text-align:left }
td.num { vertical-align:top; text-align:left }
.odd { background:#fae651 }
td.hits { vertical-align:top; text-align:center }
.filter {  margin:10px 0 }
.display-limit, .filter { text-align:right; margin-right:7px }

/* __________ category table _____________ */
table.category th a img { padding:2px 10px }
.filter-search { float:left }
fieldset.filters { padding:0 }
legend.element-invisible { position:absolute; /* need margin top and left doesn't work for the legend element */ margin-left:-3000px; margin-top:-3000px; height:0 }
.cat-items { margin-top:20px }

/* Parameter Table */
table.paramlist { margin-top:5px }
table.paramlist td.paramlist_key { width:128px; text-align:left; height:30px }
table.paramlist td.paramlist_value {}
div.message { font-weight:bold; font-size :14px; text-align:center; width:auto; margin:3px 0px 10px; padding:3px 20px }



/*_____________ Frontend Editing ____________*/
div.edit { width:99% }
fieldset { border: 1px solid #fae651; margin:15px 0; padding:7px }
legend { margin:0; padding:3px 0 }
td.key { border-bottom:1px solid #eee; color:#000 }
form#adminForm fieldset { padding:20px 10px; margin:10px 0 0 0 }
.formelm { margin:5px 0 }
.formelm label { width:13em; display:inline-block; vertical-align:top }
form#adminForm .formelm-area { padding:5px 0 }
form#adminForm .formelm-area label { vertical-align:top; display:inline-block; width:7.9em }
.formelm-buttons { text-align:right; margin-bottom:10px }
.button2-left { margin:5px 0 }
.contentpaneopen_edit { float:left } /* edit button */

/* pagebreak  */
table.contenttoc {  padding:10px; margin:10px }
table.contenttoc tr td { padding:1px 0px }
.pagenavcounter { font-weight:bold }
.pagenav { padding:0 2px } /*  pagination  */

/* Tooltips */
div.tooltip  { float:left; background:#ffc;  border:1px solid #D4D5AA; padding:5px; max-width: 200px }
div.tooltip h4 { padding: 0; margin: 0; font-size: 95%; font-weight: bold; margin-top:-15px; padding-top:15px; padding-bottom: 5px }
.tip { border:solid 1px #333; background:#ffffcc; padding:5px }

/* -- editor buttons */
#editor-xtd-buttons { padding:5px; font-size:.85em }
.toggle-editor { font-size:.85em; margin:-5px 0 0 0; padding:0 }
.button2-left, .button2-right, .button2-left div, .button2-right div { float:left }
.button2-left a, .button2-right a, .button2-left span, .button2-right span { display:block; height:22px; float:left; line-height:22px; color:#000; cursor:pointer } /*font-size */
.button2-left span, .button2-right span {cursor:default; color:#000 }
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span { padding:0 6px }
.page span { color:#000; font-weight:bold }
.button2-left a:hover, .button2-right a:hover { text-decoration:none; color:#0B55C4 }
.button2-left a, .button2-left span { text-decoration:none; padding:0 24px 0 6px }
.button2-right a, .button2-right span { text-decoration:none; padding:0 6px 0 24px }
.button2-left { background: url(../../system/images/j_button2_left.png) no-repeat; float:left; margin-left:5px }
.button2-right { background: url(../../system/images/j_button2_right.png) 100% 0 no-repeat; float:left; margin-left:5px }
.button2-left .image { background: url(../../system/images/j_button2_image.png) 100% 0 no-repeat }
.button2-left .readmore { background: url(../../system/images/j_button2_readmore.png) 100% 0 no-repeat }
.button2-left .pagebreak { background: url(../../system/images/j_button2_pagebreak.png) 100% 0 no-repeat }
.button2-left .blank, .button2-left .article { background: url(../../system/images/j_button2_blank.png) 100% 0 no-repeat; float:left; margin-left:5px }

/* form validation */
.invalid { border-color:#ff0000; }
label.invalid { color:#ff0000; }

/* System Standard Messages */
.error { padding:0; margin-bottom: 20px }
.error h2 { color:red !important; font-size:1.4em !important; text-transform:uppercase; padding:0 0 0 0px !important }

#system-message { color:#000 }
#system-message { margin:0 0 20px 0; padding:10px }
#system-message dd.message ul { list-style:none; background:#C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0 0 0 -40px; padding:10px 0 10px 40px; text-indent:0px }
/* System Error Messages */
#system-message dd.error ul { list-style:none; color:#c00; background:#E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0 0 0 -40px; padding:10px 0 10px 40px; text-indent:0px;}
/* System Notice Messages */
#system-message dd.notice ul { list-style:none; color:#c00; background:#EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0 0 0 -40px; padding:10px 0 10px 40px; text-indent:0px;}
#system-message .message ul li { list-style:none; background-image:none }

/* ___________  user profile _____________ */
#users-profile-core, #users-profile-custom { margin:10px 0 15px 0; padding:15px }
#users-profile-core dt, #users-profile-custom dt { float:left; width:10em; padding:3px 0 }
#users-profile-core dd, #users-profile-custom dd { padding:3px 0 }
#member-profile fieldset { margin:10px 0 15px 0; padding:15px }
span.spacer > span.text label { white-space:nowrap; font-weight:bold }
.red { font-weight:bold; color:#c00 }
.star { color:#cc0000 }

/**For elements that aren't to be seen by users unless the user does something -like clicking on a header to see the collapsed section. */
.element-hidden, .hide { display:none }
/* For elements that aren't to be seen by visual users but do need to be read by screenreaders.
* Cannot be used for elements that can get focus such as links and form elements */
.element-invisible, .hidelabeltxt { height:0; overflow:hidden; position: absolute }
/* Firefox has issues styling legend so this is a universal fix for making the legend invisible (i.e. visually it's not there, but screen readers see it */
legend.element-invisible { position: absolute !important; margin:0; padding:0; border:0; margin-left: -10000px; font-size:1px; height:0 }
fieldset.filters { border:none; margin:0 }

/*HTML EDITOR */
body.mceContentBody { background-color:#fff !important; background-image: none; color:#333 }
body.mceContentBody a { color:#333 }


