/* COPYRIGHT JOOMLATEMPLATESHOP.NET ALL RIGHTS RESERVED */

/*TOP MENU */
.moduletable_dropmenu { /* main class for module */
	/*static*/
	background: none repeat scroll 0 0 #7C97C9;
    border-radius: 14px 14px 14px 14px / 9px 9px 9px 9px;
    box-shadow: 0 0 5px 0px #101010;
    display: block;
    font-family: 'ABeeZee',"Trebuchet MS",Geneva,Arial;
    font-size: 0.9em;
    height: 60px;
    margin: -12px -1%;
    width: 102%;
    z-index: 50 !important;
	
	/*fixed
	background: none repeat scroll 0 0 #7C97C9;
    border-radius: 14px 14px 14px 14px / 9px 9px 9px 9px;
    box-shadow: 0 0 5px 0 #101010;
    display: block;
    font-family: 'ABeeZee',"Trebuchet MS",Geneva,Arial;
    font-size: 0.9em;
    height: 60px;
    margin: -12px -0.8%;
    position: fixed;
    width: 976px;
   z-index: 500;*/
}

/* hover -- background  */
.moduletable_dropmenu a { color:#fff; background-image: none; text-decoration:none; outline:none }
.moduletable_dropmenu li { background-image: none; outline:none}

.moduletable_dropmenu ul {
	display: block;
    float: left;
    list-style: none outside none;
    margin: 0 7%;
    padding-top: 12px;
    text-align: center;
    width: auto;
    z-index: 50 !important;
}
.moduletable_dropmenu li {
	display:block;
	float:left;
	margin:0;
	padding-top:10px;
	z-index:50 !important
}
.moduletable_dropmenu a, .moduletable_dropmenu li.active a {
	white-space:nowrap;
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	padding:0 10px;
	font-weight:bold;
	font-size:1.25em;
	overflow:hidden;
	z-index:50 !important;	
}
.moduletable_dropmenu a { z-index:50 !important }
.moduletable_dropmenu li {z-index:100 !important }
.moduletable_dropmenu li:hover a, .moduletable_dropmenu li.active a { z-index:50 !important; color:#fef7cb }
.moduletable_dropmenu li:hover, .moduletable_dropmenu li.active { z-index:50 !important }



/* ---- LINKS ----*/
/* all menu links */
#nav ol, #nav ul {	
	/*border around submenu goes here*/	 
	background:#4179ad;
	left:0;
	margin:0;
	padding:0
}


#nav a { display: block;
    margin-right: 0px;
    text-align: center;
    width: auto;
}

#nav li { display:block; float:left; position:relative; margin-right: 18px; text-align: center; }



/* submenu item */
#nav li li {
	display:inline-block;
	float:none;
	width:16em;
	height:27px;
	line-height:27px;
	background-image:none;
}
#nav li li a { /* Just submenu links*/	
	position:relative;
	float:none; 
	background-image:none;
	line-height:27px;
	height:27px;
	text-align:left;
	font-size:13px;
	color:#fff
}
#nav li li a:hover, #nav li li:hover { color: #FEF7CB; }
#nav li ul { /* first-level lists */
	background-color: #7C97C9;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 5px -2px #888888;
    left: 9.5em;
    margin-left: -1000em;
    position: absolute;
    top: 35px;
    width: 200px;
}
/* second-third-and-above-level lists */
#nav li ul ul { margin: -4em 0 0 -1000em; background-image:none }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul { margin-left: -1000em }

 /* lists nested under hovered list items */

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {	margin-left: -120px; background-image:none; display:block  }

#nav li li:hover ul,
#nav li li li:hover ul, 
#nav li li li li:hover ul 
{ margin-left:6.4em; margin-top:-30px; background-image:none } 

